

@media screen and (max-width: 1024){
  .event{
    width: 100%;
   /*  border: 1px solid red; */
  }
}


@media screen and (max-width: 767px){
  .event{
    width: 100%;
    /* border: 1px solid red; */
  }

  .contact{
    align-items: center;
    justify-content: center;
  }

  .contact{
    background-color: rgba(0, 136, 169, 1);
    color: white;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
  }


 

  .form-email input{
    border-radius: 8px;
    border-color: gray;
    border-style:solid;
    padding: 10px 20px 10px 25px;
    background-image: url("../images/envelope.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    height: 10px;
  }

  .contact button{
    width: 80px;
  }
}

@media screen and (max-width: 558px){
  .contact a{
    margin: 0 0;
    padding: 0 1em;
  }
  header{
    display: block;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .logo{
    width: auto;
  }
}

@media screen and (max-width: 321px){
  .event-URL{
    padding: 5px 5px;
    width: 20px;
  }
}
